/* Header Pol */
.header_pol {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    /* border-bottom: 1px solid #393939; */

    transition: .3s all;
}

.header__logo_pol__item2 a {
    text-decoration: none;
    color: #393939;
}



/* Header Fixed */
.header_pol.fixed {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    border: 0;

    transform: translate3d(0, 0, 0);
    transition: .3s all;
}


/* Nav Pol */
.nav_pol {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link_pol {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #393939;
    text-decoration: none;

    transition: color .1s linear;

    background-color: #fff;
}

.nav__link_pol.active,
.nav__link_pol.active.black {
    color: #66ccff;
}

.nav__link_pol::after {
    content: '';
    width: 100%;
    height: 1px;
    opacity: 0;

    background-color: #66ccff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link_pol.active::after {
    content: '';
    width: 100%;
    height: 1px;
    opacity: 1;

    background-color: #66ccff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
  
.nav__link_pol:hover {
    color: #66ccff;
}

.nav__link_pol:hover::after {
    opacity: 1;
}



/* Nav Toggle */
.nav-toggle_pol {
    width: 30px;
    padding: 20px 0;
    display: none;

    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 30px;
    z-index: 1;
}

.nav-toggle_pol:focus {
    outline: 0;
}

.nav-toggle__item_pol {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #393939;

    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle_pol.active .nav-toggle__item_pol {
    background: none;
}
.nav-toggle_pol.active.black .nav-toggle__item_pol {
    background: none;
}

.nav-toggle__item_pol::before,
.nav-toggle__item_pol::after {
    content: '';
    width: 100%;
    height: 3px;

    background-color: #393939;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item_pol::before {
    top: -8px;
    left: 0;
}

.nav-toggle__item_pol::after {
    bottom: -8px;
    left: 0;
}

.nav-toggle_pol.active .nav-toggle__item_pol::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
}

.nav-toggle_pol.active .nav-toggle__item_pol::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


@media (max-width: 1440px) {
    .nav_pol {
        font-size: 14px;
    }
}


@media (max-width: 850px) {

    body.lock {
        overflow: hidden;        
    }

    /* Nav */
    .nav_pol {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .nav_pol.black {
        background-color: #fff;
    }
    .nav_pol.active {
        display: block;
    }
    .nav__link_pol {
        display: block;
        color: #393939;

        margin: 0;
        padding: 8px 20px;
    }
    .nav__link_pol.black {
        color: #393939;
    }
    a#nav__link_pol2.nav__link_pol {
        border-bottom: 1px solid #393939;
    }
    .nav-toggle_pol {
        display: block;
    }
    .nav-toggle_pol.black .nav-toggle__item_pol,
    .nav-toggle_pol.black .nav-toggle__item_pol::after,
    .nav-toggle_pol.black .nav-toggle__item_pol::before {
        background-color: #393939;
    }

}